
[data-id="1"] {
    background-image: url("../images/JQuery_logo_text.svg");
    -webkit-transform: rotateX(-180deg);
    /* remember to use the unprefixed form as well, but awesome! */
}
[data-id="2"] {
    background-image: url("../images/css3-logo.png");
    -webkit-transform: rotateX(-180deg);
}
[data-id="3"] {
    background-image: url("../images/HTML5_logo_and_wordmark.svg");
    -webkit-transform: rotateX(-180deg);
}
[data-id="4"] {
    background-image: url("../images/Java_logo_and_wordmark.svg");
}
[data-id="5"] {
    background-image: url("../images/JavaScript-logo.png");
}
[data-id="6"] {
    background-image: url("../images/php-logo.png");
}
[data-id="7"] {
    background-image: url("../images/Python-logo-notext.svg");
}
[data-id="8"] {
    background-image: url("../images/Ruby_logo.svg");
}
[data-id="9"] {
    background-image: url("../images/Ruby_on_Rails_logo.svg");
}
[data-id="10"] {
    background-image: url("../images/Tux-linux_logo.svg");
}
